/* Main Stylesheet */

* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

body {
  align-items: center;
  background-color: #83B692;
  color: white;
  display: grid;
  font-family: 'Raleway', sans-serif;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-rows: 10vh 80vh 10vh;
  justify-items: center;  
  text-align: center;
}

header {
  align-self: flex-start;
  background-color: white;
  filter: drop-shadow(0px 3px 7px rgba(0,0,0,0.5));
  padding: 30px 0 33px 0;
  width: 100%;
}

header>h1 {
  color: #74bcb9;
}

header>p {
  margin-top: 7px;
}

#lessonList {
  width: 90vw;
}

#lessonList li {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  color: black;
  display: grid;
  font-size: 1.3em;
  height: 4vw;
  list-style-type: none;
  margin-top: 10px;
  transition: all 0.2s ease;
  width: 100%;
}

#lessonList li:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.7));
  transform: scale(1.04);
  transition: ale 0.2s ease;
}

#underConstructionModal {
  background-color: rgba(255, 255, 255, 0.432);
  color: white;
  display: none;
  height: 185px;
  left: 50%;
  transform: translate(-127.5px, -117.5px);
  padding: 50px;
  position: absolute;
  top: 50%;
  width: 205px;
}

#underConstructionModal img {
  margin-top: 15px;
  max-width: 150px;
}