* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: underline;
}

body {
  align-items: center;
  background-color: #83B692;
  color: white;
  display: grid;
  font-family: 'Raleway', sans-serif;
  justify-items: center;  
  text-align: left;
}

header {
  align-self: flex-start;
  background-color: #447452;
  padding: 20px 0 23px 0;
  width: 100%;
}

header>h1 {
  color: white;
  margin-left: 20px;
}

header>p {
  color: white;
  margin: 7px 0 0 20px;
}