* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: underline;
}

body {
  align-items: center;
  background-color: #F0F1FA;
  color: white;
  display: grid;
  font-family: 'Raleway', sans-serif;
  justify-items: center;  
  text-align: left;
}

header {
  align-self: flex-start;
  background-color: #161B40;
  color: white;
  padding: 20px 0 23px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header>a {
  display: inline-block;
  text-decoration: none;
}

header img {
  margin-left: 20px;
  width: 350px;
}

main {
  margin-top: 110px;
}

main h2 {
  color: black;
  margin: 40px 0 20px 0;
  padding-left: 10px;
  width: 100%;
}

ul {
  list-style-type: none;
}

#exampleList {
  list-style-type: lower-roman;
  margin: 0 auto;
  width: 50vw
}

#exampleList a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

#exampleList li {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: grid;
  font-size: 1.3em;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
  transition: 0.1s ease all;
  width: calc(100% - 40px);
}

#exampleList li:hover {
  background-color: #130d47;
  cursor: pointer;
  transition: 0.1s ease all;
}

#exampleList li:hover>a {
  color: white;
}

@media only screen and (max-width: 800px) {
  header img {
      width: 300px;
    }
}

@media only screen and (max-width: 450px) {
  header img {
    width: 250px;
  }
}

@media only screen and (max-width: 350px) {
  header img {
      width: 220px;
  } 
}