* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: underline;
  }
  
body {
align-items: center;
background-color: #e1ebe4;
color: white;
display: grid;
font-family: 'Raleway', sans-serif;
justify-items: center;  
text-align: left;
}

h2 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2:first-of-type {
    margin-top: 140px;
}

header {
  align-self: flex-start;
  background-color: #040f00;
  padding: 20px 0 23px 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

header>a {
  display: grid;
  display: inline-block;
  text-decoration: none;
}

header h1 {
  color: white;
  margin-left: 20px;
}

header p {
  color: white;
  margin: 7px 0 0 20px;
}

section {
    align-self: center;
    justify-self: center;
    margin: 10px;
    overflow-y: visible;
    padding: 20px 20px;
    width: 30vw;
}

#catpic {
    float: right;
    height: 300px;
    grid-area: pic;
}

#stats-wrapper {
    background-color: #000;
    border: 2px solid #000;
    color: #0F0;
    margin: 10px auto;
    padding: 10px 10px;
    width: 50vw;
}


#grid-container { 
    background-color: rgb(255, 255, 255);
    color: black;
    display: grid;
    grid-template-areas: 
    'desc1 pic'
    'video desc2';
    height: auto;
    justify-items: center;
    margin: 20px;
    overflow-y: visible;
    padding: 40px 0px;
    row-gap: 40px;
}

#vid{
    align-self: center;
    grid-area: video;
    padding: 0px 30px;
}

#desc1{
    font-size: 1.2rem;
    grid-area: desc1;
    text-align: justify;
}

#desc2{
    grid-area: desc2;
}