* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: underline;
  }
  
body {
align-items: center;
background-color: #F0F1FA;
color: white;
display: grid;
font-family: 'Raleway', sans-serif;
justify-items: center;  
text-align: left;
}

h2 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2:first-of-type {
    margin-top: 140px;
}

header {
    align-self: flex-start;
    background-color: #161B40;
    color: white;
    padding: 20px 0 23px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  
  header>a {
    display: inline-block;
    text-decoration: none;
  }
  
  header img {
    margin-left: 20px;
    width: 350px;
  }

section {
    align-self: center;
    justify-self: center;
    margin: 10px;
    overflow-y: visible;
    padding: 20px 20px;
    width: 30vw;
}

#catpic {
    float: right;
    /* height: 300px; */
    height: auto;
    width: 90%;
    grid-area: pic;
}

#vid iframe {
    width: 90%;
}

#stats-wrapper {
    background-color: #000;
    border: 2px solid #000;
    color: #0F0;
    margin: 10px auto;
    padding: 10px 10px;
    width: 50vw;
}


#grid-container { 
    background-color: rgb(255, 255, 255);
    color: black;
    display: grid;
    grid-template-areas: 
    'desc1 pic'
    'video desc2';
    height: auto;
    justify-items: center;
    margin: 20px;
    overflow-y: visible;
    padding: 40px 0px;
    row-gap: 40px;
    width: 80%;
}

#vid{
    align-self: center;
    grid-area: video;
    padding: 0px 30px;
}

#desc1{
    font-size: 1.2rem;
    grid-area: desc1;
    text-align: justify;
}

#desc2{
    grid-area: desc2;
}

@media only screen and (max-width: 800px) {
    header img {
        width: 300px;
      }
}

@media only screen and (max-width: 450px) {
    header img {
      width: 250px;
    }
}

@media only screen and (max-width: 350px) {
    header img {
        width: 220px;
    } 
}